@media (max-width: 1660px)
    .docs
        &-side
            &__img 
                img
                    max-width: 430px
                    min-height: auto
                    top: 60px
                    right: -170px
@media (max-width: 1550px)
    .target
        &-box
            &__inner
                &::after
                    right: -170px
    .docs
        &-side
            &__img 
                img
                    max-width: 380px
                    top: 110px
                    right: -110px
@media (max-width: 1480px)
    .target
        &-box
            &__out
                margin-left: 0
            &__title
                font-size: 28px
            &__inner
                &::after
                    right: -70px
        &-policy
            margin: 27px 0 0 -100px
@media (max-width: 1400px)
    .took
        &-image 
            img
                max-width: 700px
                bottom: -60px
                right: -10px
    .docs
        &-side
            &__img 
                img
                    max-width: 300px
                    right: -50px
@media (max-width: 1280px)
    .docs
        &-side
            &__img 
                img
                    right: auto
                    top: 390px
                    left: 50%
                    transform: translateX(-50%)
                    max-width: 400px
    .target
        &__title
            font-size: 32px
            line-height: 40px
            max-width: 900px
        &-box
            &__title
                font-size: 24px
                max-width: 630px
            &__inner
                &::after
                    top: -65px
                    right: -35px
            &__out
                max-width: 1100px
    .card
        &__target
            max-width: 480px
            &:nth-child(odd)
                margin-left: 0
        &__hover
            padding: 17px 25px 0 0
            background-position: 20px
            &::before
                display: none
    .cards
        &__target
            max-width: 1000px
            margin: 0 auto
    .buyout
        &-block
            &__inner
                &:last-child 
                    .buyout-block
                        &__image
                            max-width: 700px
@media (max-width: 1250px)
    .price
        &-table
            &__size
                margin: 0 0 79px 0
                overflow-x: scroll
        &-calc
            &__size
                margin-left: 0
@media (max-width: 1200px)
    .footer
        &-box
            &__out
                margin-left: 0
    .took
        &-image 
            img
                max-width: 600px
                right: 0
    .reviews
        &__title
            font-size: 32px
        &-block
            &__left
                max-width: 500px
            &__box
                max-width: 900px
                margin: 0 auto
@media (max-width: 1160px)
    .footer
        &-contact
            &__center
                margin: 10px 20px 0
    .services
        &-block
            &__item
                margin-left: 0
    .price
        &-calc
            &__box
                max-width: none
                border: none
                border-radius: 0
                &::before
                    top: -130px
                    left: -30px
@media (max-width: 1140px)
    .price
        &-calc
            &__decision
                &::after
                    display: none
    .footer
        &__bg
            &::before
                display: none
        &-box
            &__title
                font-size: 21px
                max-width: 400px
                line-height: 30px
        &-contact
            +flex-column-center
            &__center
                margin: 30px 0
        &-line
            display: none
        &-box
            &__subtitle
                max-width: 300px
    .work
        padding: 90px 0 0
    .target
        &-box
            &__form
                +flex-column
            &__group
                max-width: 281px
                &:first-child
                    margin-right: 0
                &:nth-child(2)
                    max-width: 281px
                    & .target-box__input
                        width: 272px
            &__input
                width: 272px
            &__button
                margin-left: 0
            &__inner
                &::after
                    top: 160px
                    right: 0
        &-policy
            text-align: left
            margin: 27px 0 0 80px
    .buyout
        &-block
            &__inner
                &:last-child 
                    .buyout-block
                        &__image
                            max-width: 550px
                            top: 70px
    .hero
        &-block
            &__list
                margin: 0
                max-width: 380px
    .services
        &-block
            &__image
                max-width: 320px
            &__line
                width: 280px
    .price
        .container
            padding: 0
        &-calc
            border-radius: 0
            &__box
                &::before
                    display: none
            &__button
                &::before
                    display: none
            &__decision,
            &__wrap
                +flex-column-center
            &__select
                width: 280px
                margin-right: 0
                margin-bottom: 25px
            &__inner
                background-position: 235px 27px
            &__inner,
            &__input,
            &__from
                height: 52px
            &__all
                margin-bottom: 50px
            &__input,
            &__from
                width: 128px
            &__equally
                margin: 0 8px
            &__title,
            &__subtitle
                font-size: 27px
@media (max-width: 1090px)
    .footer
        &-box
            &__inner
                border: none
                border-radius: 0
                max-width: none
            &__side
                padding: 0
    .hero
        &-block
            &__circle
                margin-right: 0
                margin-top: -30px
            &__list
                max-width: 375px
    .took
        &-image 
            img
                max-width: 500px
    .reviews
        &-arrow
            &__prev,
            &__next
                display: none !important
@media (max-width: 1024px)
    .services
        &-block
            &__image
                max-width: 300px
            &__line
                width: 260px
@media (max-width: 992px)
    .footer
        padding: 100px 0 0
        .container
            padding: 0
        &-box
            padding: 39px 10px 60px
            &__out
                border-radius: 0
            &__side
                +flex-column-center
                max-width: 500px
                margin: 0 auto
            &__right
                margin-top: 30px
            &__textarea
                width: 400px
            &__group
                &:nth-child(2)
                    max-width: none
            &__input
                width: 100%
            &__button
                position: relative
                margin: 40px auto 0
                display: block
        &-bottom
            +flex-column-center
            &__logo
                margin-left: 0
                +flex-column
            &__wrap
                text-align: center
                margin-left: 0
                margin-top: 24px
            &__link
                margin-bottom: 0
                margin-top: 25px
            &__down
                font-weight: bold
    .docs
        background-size: cover
        padding-top: 140px
        &__bg
            &::before
                top: 0
        &__title
            margin-bottom: 40px
        &-side
            &__left
                +flex-column-center
                &::after
                    display: none
            &__box
                height: 300px
                overflow: hidden
                &:last-child
                    margin-right: 0
                &:first-child
                    margin: 0 18px 20px 18px
            &__wrap
                max-width: 600px
                margin: 0 auto
            &__img 
                img
                    left: 85%
    .target
        padding: 290px 0 50px
        &__title
            font-size: 21px
            line-height: 32px
            max-width: 360px
            &-wrap
                margin-left: 0
        &__warning
            display: none
    .card
        &__target
            margin: 0 0 110px
        &s
            &__target
                +flex-column-center
    .buyout
        padding-top: 145px
        &__title
            font-size: 21px
            margin: 0 0 16px 0
            line-height: 30px
        &-block
            &s
                +flex-column-center
            &__box
                margin: 0 auto
            &__inner
                &:last-child 
                    .buyout-block__image
                        top: 0
                        left: 50%
                        transform: translate(-50%)
                        max-width: 300px  
    .reviews
        padding: 80px 0 65px
        &-block
            &__box
                align-items: center
    .took
        .container
            display: flex
            flex-direction: column
            align-items: center
        &-image 
            img
                max-width: 400px
                top: 40px
                left: 50%
                transform: translateX(-50%)
        &-wrap
            &__bg
                width: 100%
                margin-top: -40px
                &::before
                    background-position: center
                    left: 50%
                    transform: translateX(-50%)
    .price
        &__title
            margin-left: 0
    .header
        &-sides
            &__logotype
                margin-left: 0
    .logotype
        &__description-text
            font-size: 14px
            max-width: 250px
            line-height: 20px
            &::before
                top: -3px
    .hero
        min-height: 1270px
        &-block
            flex-direction: column-reverse
            align-items: center
            &__list
                margin-top: 35px
        .container
            &__relative
                z-index: 8
    .services
        &__bg
            &::before
                top: -670px 
        &__title
            margin: 190px 0 72px  
        &-block
            &s
                +flex-column-center
            &__item
                margin-bottom: 50px                     
@media (max-width: 880px)
    .work 
        padding: 300px 0 0
    .target
        &-box
            border-radius: 0
            &__inner
                border: none
                max-width: none
                border-radius: 0
                padding-bottom: 250px
                &::after
                    top: 450px
                    left: 50%
                    transform: translateX(-50%)
            &__title
                margin: 0 auto 25px
                text-align: center
            &__form
                margin: 0 auto
                max-width: 290px
        &-policy
            margin: 27px 0 0 0
            position: absolute
            bottom: 290px
            left: 50%
            transform: translateX(-50%)
@media (max-width: 820px)
    .docs
        &__title
            margin-left: 0
            font-size: 21px
            span
                display: block
        &-side
            &__img 
                img
                    left: 75%
                    top: 450px
@media (max-width: 768px)
    .footer
        &-contact
            &__center
                max-width: 100%
                width: 100%
    .work
        &__title
            margin-bottom: 40px
        &-block
            &__image
                display: flex
                justify-content: center
                width: 50%
                margin-bottom: 60px
    .reviews
        padding: 80px 0 0
    .slick-slide
        height: 700px
    .reviews
        &-block
            &__box
                max-width: 450px
                flex-direction: column
            &__right
                position: absolute
                bottom: 40px
                z-index: 10
            &__text
                height: 260px
                overflow: hidden
    .slick-dots
        display: none !important
    .hero
        &__title
            margin-left: 0
            font-size: 32px
            text-shadow: none
        p
            margin-left: 0
            font-size: 32px
            text-shadow: none
    .price
        &__title
            font-size: 32px
        &-table
            &__size
                margin-left: 80px
@media (max-width: 700px)
    .modal
        &-accurate,
        &-orient,
        &-special,
        &-call
            &__image
                &::after
                    background-size: cover
                    width: 180px
                    height: 190px
                    right: -60px
                    bottom: -30px
    .docs
        &-side
            &__img 
                img
                    max-width: 300px
    .price
        .container
            &:first-child
                padding: 0 0 0 15px
        &__title
            font-size: 21px
            span
                display: block
        &-table
            &__size
                margin-left: 100px
    .contact-side
        &__viber,
        &__telegram,
        &__whatsapp
            display: none 
        &__phone,
        &__button
            color: $light
    .container
        &__header-sides                         
            position: relative
    .header-sides
        &__contact-side
            position: absolute
            bottom: -110px
            left: 50%
            transform: translateX(-50%) 
            z-index: 5
            width: 100%
            max-width: 240px
        &__logotype
            margin: 0 auto
    .hero 
        .container
            &__relative
                margin-top: 50px
        &__commercial
            +flex-column
            align-items: flex-start
            margin: 31px 0 55px 0
            &-from
                margin-right: 0
                margin-bottom: 15px   
    .services
        &__title
            margin: 240px 0 72px     
@media (max-width: 630px)
    .docs
        &-side
            &__right
                margin-left: 15px
            &__box
                &:first-child
                    margin: 0 0 20px 0
@media (max-width: 600px)
    .footer
        padding: 300px 0 0
    .docs
        &-side
            +flex-column-center
            &__right
                margin-top: 60px
                margin-left: 0 
            &__img 
                img
                    left: 50%
                    top: 1130px  
    .work
        padding: 360px 0 0
        &__title
            font-size: 21px
    .target
        &__title
            font-size: 19px
            max-width: 300px
        &-box
            &__inner
                padding-bottom: 170px
                &::after
                    display: none
            &__img
                display: block
                position: absolute
                bottom: -380px
                left: 50%
                transform: translateX(-50%)
            &__out
                position: relative
        &-policy
            bottom: 200px
    .card
        &__target
            max-width: 320px
        &__image
            height: auto
        &__title
            font-size: 12px
        &__text
            font-size: 12px
            line-height: 18px
        &__hover
            display: none
    .reviews
        padding: 300px 0 65px
    .took
        .container
            padding: 0
        &__bg
            background: none
            min-height: auto
        &-wrap
            &__bg
                margin-top: 0
                padding: 176px 10px 0
            &__title
                font-size: 31px
            &__subtitle
                font-size: 31px
    .services
        &__bg
            &::before
                top: -590px
        &__title
            margin: 70px 0 50px
    .hero
        overflow: hidden
        &-block
            &__list
                position: absolute
                top: 820px
            &__circle
                margin-top: 35px
                min-width: 700px
                width: 100%
                position: absolute
                top: 200px
                left: 50%
                transform: translateX(-50%)
                &-inner
                    max-width: 670px
                    width: 100%
            &__calc        
                &-wrap
                    border: none
                    +flex-column-center
                    margin: 0 auto 25px
            &__description
                font-size: 12px
                margin: 10px 0 0
            &__subtitle
                max-width: 400px
                margin: 0 auto
            &__request
                display: none
@media (max-width: 560px)
    .modal
        &-special,
        &-call
            &__title
                font-size: 18px
                max-width: 380px
                line-height: 24px
@media (max-width: 540px)
    .modal,
    .modal-accurate,
    .modal-orient,
    .modal-thanks
        &__title
            font-size: 18px
    .modal,
    .modal-accurate,
    .modal-orient,
    .modal-special,
    .modal-call,
    .modal-thanks
        &__dialog
            height: auto
        &__policy
            padding-bottom: 25px
    .modal-accurate,
    .modal-orient,
    .modal-special,
    .modal-call
        &__image
            display: none
    .modal
        &__title
            max-width: 380px
            line-height: 24px
    .modal-accurate,
    .modal-orient
        &__title
            max-width: 340px
            line-height: 22px
    .modal-thanks
        &__title
            line-height: 26px
            max-width: 290px
    .modal-thanks
        &__dialog
            padding: 53px 25px 25px
@media (max-width: 480px)
    .footer
        padding: 360px 0 0
        &-box
            &__out
                margin-bottom: 54px
            &__title
                max-width: 300px
                font-size: 24px
                margin: -4px 0 63px 13px
            &__subtitle
                font-size: 14px
                max-width: 280px
                margin-left: 14px
                line-height: 20px
            &__right
                margin-top: 20px
            &__textarea
                width: 272px
                padding: 24px 5px 5px 56px
            &__input
                width: 272px
                padding: 0 5px 0 55px
            &__button
                margin: 43px auto 0
            &__group
                margin-bottom: 17px
        &-contact
            margin: 0
            &__title
                padding-left: 70px
            &__text
                padding-left: 70px
            &__block
                &:first-child
                    &::before
                        left: 19px
                &:nth-child(2)
                    &::before
                        left: 11px
            &__links
                margin-left: 65px
            &__center
                margin: 41px 0 45px
            &__right 
                .footer-contact
                    &__title
                        padding-left: 18px
                        margin: -7px 0 7px
                    &__text
                        padding-left: 18px
                        margin: -1px 0 22px
                    &__link
                        margin-left: 20px
        &-bottom
            &__logo
                margin-top: 10px
            &__link
                margin-top: 36px
    .docs
        padding-top: 30px
        &__bg
            &::before
                background: url(../img/docs/doc-bg2.png) center no-repeat
                min-height: 1610px
                top: -38px
        &__title
            letter-spacing: 0.3px
            line-height: 31px
            margin-bottom: 23px
        &-side
            &__box
                height: 380px
                overflow: visible
            &__right
                margin-top: 40px
                margin-left: 4px
            &__list
                margin: -20px 0 34px
            &__download
                width: 145px
                margin-left: 12px
            &__text
                margin: 4px 40px 0 0
            &__img 
                img
                    left: 50%
                    top: 1226px
                    max-width: 400px
            &__link
                margin: 0 auto
    .work
        padding: 80px 0 0
        &__title
            margin-bottom: 44px
        &-block
            &__image
                margin-bottom: 45px
                &:nth-child(3)
                    margin-bottom: 45px
                &:nth-child(4)
                    margin-bottom: 45px
                &:nth-child(6)
                    margin-bottom: 45px
                &:nth-child(7)
                    margin-bottom: 45px
                img
                    max-width: 35%
    .target
        padding: 390px 0 50px
        .container
            padding: 0
        &-box
            &__title
                font-size: 30px
                max-width: 300px
                text-align: left
                margin: 14px auto 42px
            &__inner
                max-width: 285px
                padding-bottom: 198px
            &__group
                &:nth-child(2)
                    margin-bottom: 45px
            &__img
                max-width: 295px
                bottom: -90px
        &-policy
            bottom: 243px
    .card
        &__target
            max-width: 280px
            margin: 0 0 66px
            &::before
                background: url('../img/target/mobile.png') no-repeat
                top: -42px
                width: 81px
                height: 81px
        &__top
            padding: 15px 20px 13px 20px
            height: 73px
        &__title
            font-size: 7px
            line-height: 12px
            &::before
                bottom: -7px
                width: 7px
                height: 1px
        &__text
            margin: 11px 0 0
            font-size: 7px
            line-height: 15px
        &s
            &__target
                margin: -39px auto 0 
    .buyout
        padding-top: 14px
        &__bg
            &::before
                top: -155px
                background-size: cover
                min-height: 1260px
        &__title
            letter-spacing: 0.1px
            line-height: 32px
            margin: 0 0 13px 0
            span
                margin-left: 5px
                letter-spacing: 0.5px
        &__text
            max-width: 270px
            margin: 0 auto 23px
            letter-spacing: 0.2px
        &-block
            &__list
                max-width: 300px
                margin: 0 0 36px
            &__item
                font-size: 12px
                padding-left: 50px
                &::before
                    top: 5px
                    left: 12px
            &__title
                letter-spacing: 0.5px
            &__button
                letter-spacing: 1px
            &__inner
                &:last-child 
                    .buyout-block
                        &__image
                            top: 60px
                            max-width: 360px
    .reviews
        padding: 190px 0 0
        &__title
            font-size: 21px
            margin: 35px auto 42px
            max-width: 280px
            line-height: 34px
        &-block
            &__box
                max-width: 280px
                height: 560px
                overflow: hidden
                padding: 30px 23px 50px 15px
            &__left
                margin-right: 0
            &__name
                font-size: 15px
                margin: 0 0 25px
                &::before
                    width: 17px
                    bottom: -15px
            &__text
                font-size: 12px
                line-height: 21px
                height: 272px
            &__right
                max-width: 217px
                height: 298px
                bottom: 107px
    .took
        &__bg
            margin-top: 0
        &-wrap
            &__title
                max-width: 280px
                margin: -50px auto 0
            &__subtitle
                max-width: 280px
                margin: 0 auto
                line-height: 36px
            &__text
                margin: 8px auto 14px
                max-width: 280px
            &__list
                max-width: 280px
                margin: 0 auto
            &__btn
                margin-left: 0
            &__button
                margin: 23px auto 0
        &-image
            img
                max-width: 280px
                top: 25px
    .price
        padding: 16px 0 52px
        &__title
            line-height: 30px
            letter-spacing: 2px
            margin-bottom: 45px
        &-table
            &__size
                margin-left: 83px
                margin-bottom: 98px
        &-calc
            &__box
                margin-bottom: 30px
            &__size
                padding: 5px 0
            &__title
                font-size: 32px
                margin: 31px 0 24px
                &::after
                    bottom: -4px
            &__subtitle
                max-width: 320px
                line-height: 28px
                margin: 0 auto 20px
            &__inner
                font-size: 18px
                background-position: 250px 27px
                letter-spacing: 0.6px
            &__input,
            &__from
                font-size: 18px
            &__button
                margin-bottom: 8px
                width: 255px
                overflow: visible
                &::after
                    display: none
                &-normal
                    font-weight: normal
                &-size
                    position: relative
                    display: block
                    width: 169px
                    text-align: left
                    margin-left: auto
                    margin-top: 4px
                    &::before
                        content: ''
                        position: absolute
                        top: -30px
                        left: -68px
                        background: url(../img/hero/calс.png) no-repeat
                        width: 62px
                        height: 66px
        &__text
            max-width: 240px
            margin: 32px auto 48px
            line-height: 20px
        &__button
            letter-spacing: 1px
    .header
        padding: 30px 0
        &-sides
            &__logotype
                max-width: 300px
            &__contact-side
                bottom: -117px
                left: 55%
    .logotype
        &__description-text
            line-height: normal
            margin-left: 25px
            max-width: 250px
    .custom-logo-link
        margin-top: -5px
        width: 78px
    .logotype
        &__description-text
            font-size: 12px 
            &::before
                top: -16px
                left: -21px  
    .hero
        &-block
            &__text
                line-height: normal !important  
                font-size: 11px !important              
    .hero
        min-height: 1550px
        &__title
            font-size: 41px
            max-width: 280px
            margin: -7px auto 0
        p
            max-width: 280px
            margin: 0 auto
            letter-spacing: 3.5px
            line-height: 46px
        &__commercial
            margin: 15px auto 0
            max-width: 280px
            width: 100%
            &-from
                height: 31px
                font-size: 24px
                width: auto
                padding: 3px
            &-behind
                font-size: 24px
                margin: -5px 0 0 6px
        &-block
            &__circle
                margin-top: 0
                top: 330px
                min-width: 590px
                &-inner
                    max-width: 560px
            &__title
                margin: 42px 0 28px
                &::after
                    bottom: -13px
                    width: 32px
            &__calc
                max-width: 280px
            &__select
                height: 50px
                padding-left: 24px
                font-size: 18px
                letter-spacing: .5px
                background-position: 250px 26px
                &-wrap
                    width: 280px
            &__field
                margin-top: 30px
            &__input,
            &__from
                width: 126px
                height: 47px
                font-size: 18px
            &__description
                max-width: 280px
                line-height: 16px
                letter-spacing: 0.30px
            &__size
                margin-top: -4px
                margin-right: 21px
            &__list
                margin-top: 128px
                max-width: 280px
            &__heading
                font-size: 11px
                margin: 4px 0 2px
                letter-spacing: normal   
            &__item
                margin-bottom: 16px
                &:nth-child(2)
                    margin: 23px 0 18px
                    .hero-block
                        &__block
                            margin-top: -10px     
                        &__heading
                            margin: 10px 0 6px
                &:nth-child(5)
                    margin-top: 23px
                    .hero-block
                        &__block
                            margin-top: -9px
    .services
        &__title
            font-size: 21px
            margin: 29px 0 36px
            letter-spacing: 0.2px
        &-block
            &__image
                max-width: 280px
                height: 310px
            &__line
                width: 250px
                height: 280px
            &__circle
                width: 132px
                height: 132px
                margin: 21px auto 41px
            &__number
                width: 95px
                height: 95px
                margin: 18px auto
                padding: 25px
                font-size: 37px
            &__title,
            &__text
                font-size: 24px
            &__title
                margin: -6px 0 -3px
@media (max-width: 435px) 
    .modal-special,
    .modal-call
        &__title
            font-size: 16px
@media (max-width: 430px) 
    .target
        &-policy
            width: 100%
            text-align: center
@media (max-width: 425px)
    .modal,
    .modal-accurate,
    .modal-orient 
        &__title
            font-size: 16px
    .modal
        &__title
            max-width: 260px
            line-height: 22px  
            margin: 10px auto 30px
    .modal-accurate
        &__title
            max-width: 260px
    .price
        &-table
            &__size
                margin-left: 30px
@media (max-width: 400px)
    .modal-special,
    .modal-call
        &__dialog
            padding: 53px 15px 0 
@media (max-width: 370px)
    .modal-special,
    .modal-call
        &__title
            font-size: 14px
            line-height: 20px
            max-width: 260px
    .modal,
    .modal-accurate,
    .modal-orient
        &__dialog
            padding: 53px 15px 0 
    .docs
        &-side
            &__img 
                img
                    left: 55%
    .buyout
        &-block
            &__inner
                &:last-child 
                    .buyout-block
                        &__image
                            max-width: 300px
    .price
        &-table
            &__size
                margin-left: 0px 
    .logotype
        &__description-text
            margin-left: 18px
            &::before
                left: -15px              