.price
    padding: 90px 0 52px
    .container
        &__relative
            z-index: 5
    &__title
        margin-bottom: 45px
        text-align: center
        span
            font-weight: normal