.work
    &__title
        margin-bottom: 70px
        text-align: center
        margin-left: 15px
        span
            font-weight: normal
    &-block
        +flex-wrap
        align-items: flex-end
        justify-content: space-between
        &__image
            width: 21%
            margin-bottom: 25px